body{
    background-color: #272727
}

.custom-navbar-color{
    background-color: #7B6D8D;
}

h1, h2, h3, p, #study-time{
    color: white
}

.nav-link, .navbar-brand{
    color: white
}

hr{
    width: 90%; 
    color: #7B6D8D;
    margin: auto;
}

#project_title{
    color: #7B6D8D;
}

#center_this {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }