<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grades</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <style>
      body, html { margin: 0; padding: 0; height: 100%; overflow: hidden; }
      embed { display: block; width: 100%; height: 100vh; }
    </style>
  </head>
  <body>
    <embed src="{{ url_for('static', filename='assets/transcripts/einkunnir.pdf') }}" type="application/pdf">
  </body>
</html>
